.comments {
  margin: 3rem auto;
  width: 90%;
  max-width: 40rem;
  text-align: center;
}

.comments button {
  font: inherit;
  border-radius: 6px;
  padding: 0.5rem 1rem;
  color: #7deedf;
  border: 2px solid #74dacc;
  cursor: pointer;
  background-image: linear-gradient(to bottom left, #00ffdd, #0b4f64);
  transition: all 0.1s;
}

.comments button:hover {
  /* background-image: linear-gradient(to bottom right, #008b79, #1180a1); */
  background-image: linear-gradient(to bottom left, #0b4f64, #00ffdd);
  scale: 103%;
  color: white;
  /* color: #94fdfd; */
  border: 2px solid #03be9f;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.comments button:active {
  scale: 93%;
  box-shadow: none;
  background-image: linear-gradient(to bottom left, #00ffdd, #0b4f64);
  color: #7deedf;
}
